<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kosta.finalproject.dao.RRBoardMapper">

   <select id="SelectALL" resultType="com.kosta.finalproject.vo.RRboardVO">
	select * from RRBoard
   </select>
   
	<insert id="RRboardinsert" parameterType="com.kosta.finalproject.vo.RRboardVO">
		insert into RRBoard(codeNum, title, category, company, startDate, endDate, bill, contents, reaquestId, img, adress, spotNum) 
		values(rrb_seq.nextval, #{title}, #{category}, #{company}, #{startDate}, #{endDate}, #{bill}, #{contents}, #{reaquestId}, #{img}, #{adress}, #{spotNum})
	</insert>
	
	<select id="getcontents" resultType="com.kosta.finalproject.vo.RRboardVO">
		select * from rrboard where codenum = #{codeNum}
	</select>
	
   </mapper>